.wrapper{
    margin-left: 30px;
    font-size: 1rem;
    color: var(--white-color);
}
.primary{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
}